.main-section-container {
  margin: 0 auto;
  width: 95%;
  position: relative;
  height: 100%;
}
.main-section-container > h3:first-child {
  font-size: 30px;
  font-weight: 400;
}
.main-section-container > div {
  height: 100%;
}
@media (min-width: 650px) {
  .main-section-container > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}
@media (min-width: 1280px) {
  .main-section-container {
    max-width: 1200px;
  }
  .main-section-container > h3:first-child {
    font-size: 36px;
  }
} ;
